body {
    text-align: center;
}

.js-weather {
    text-align: right;
}

.temp {
    font-size: 25px;
    line-height: 0;
}

.area {
    font-size: 20px;
}

.container {
    margin-top: 25vh;
    text-align: center;
}

input {
    border: none;
    background-color: transparent;
    text-align: center;
    border-bottom: solid gray 1px;
}

textarea:focus, input:focus{
    outline: none;
}

.clock h1 {
    font-size: 100px;
    font-weight: bold;
}

.form {
    display: none;
}

.greetings {
    display: none;
}

.showing {
    display: block;
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
}

.js-toDoList {
    background-color: opacity(90%);
    width: 300px;
    float: right;
}

.js-toDoList li {
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

button {
    border: none;
}


.bgImage {
    position: absolute;
    size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}